<section class="pos-r section-padding-140">
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="1263" height="758" style="width: 100%; height: 100%;"></canvas></div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-md-12">
          <div class="section-title">
            <h6><strong>Why Choose Us</strong></h6>
            <h2 class="title mb-0">We’re a full-service <span>IT staffing & Consulting</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="featured-item style-2 text-center active">
            <div class="featured-icon"> 
              <i class="fas fa-hand-holding-usd"></i>
              <span>01</span>
            </div>
            <div class="featured-title">
              <h5>Cost of Operations</h5>
            </div>
            <div class="featured-desc">
              <p>All infrastructure costs.</p>
              <p>All the monthly cost of high payouts & employee benefits that has to be provided to an in-house developer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="featured-item style-2 text-center">
            <div class="featured-icon"> <i class="fas fa-user-tie"></i>
              <span>02</span>
            </div>
            <div class="featured-title">
              <h5>Get Professional Quality Service</h5>
            </div>
            <div class="featured-desc">
              <p>As you would be outsourcing your work to a professional company, you are more likely to get a ‘Can do’ attitude from the offshore company to a couple of your added requests.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mt-md-0">
          <div class="featured-item style-2 text-center">
            <div class="featured-icon"> <i class="fas fa-user-clock"></i>
              <span>03</span>
            </div>
            <div class="featured-title">
              <h5>Saves you time</h5>
            </div>
            <div class="featured-desc">
              <p>When you outsource work, you could focus all your attention to your core business rather than spending time in building the team to develop your software systems.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>