<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner pt-80">
      <div class="carousel-item active">
        <div class="container">
          <div class="row h-100 justify-content-center align-items-center d-block w-100 " style="padding-top: 100px;">
            <div class="col-lg-5"></div>
            <div class="col-lg-6 offset-lg-1">
              <div class="banner-image">
                <img src="./assets/img/banner/01-man.png" class="animate__animated animate__fadeInDown animate__delay-0.1s" alt="man">
                <img src="./assets/img/banner/01-code.png" class="animate__animated animate__fadeInUp animate__delay-0.1s" alt="code">
                <img src="./assets/img/banner/01-carpet.png" class="animate__animated animate__fadeInLeft animate__delay-0.1s" alt="carpet">
                <img src="./assets/img/banner/01-bin.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="bin">
                <img src="./assets/img/banner/01-book.png" class="animate__animated animate__bounceIn animate__delay-0.1s" alt="book">
                <img src="./assets/img/banner/01-dekstop.png" class="animate__animated animate__fadeInDown animate__delay-0.1s" alt="dekstop">
                <img src="./assets/img/banner/01-dot.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="dot">
                <img src="./assets/img/banner/01-flower-top-big.png" class="animate__animated animate__fadeInUp animate__delay-0.1s" alt="flower-top-big">
                <img src="./assets/img/banner/01-flower-top.png" class="animate__animated animate__rotateIn animate__delay-0.1s" alt="flower-top">
                <img src="./assets/img/banner/01-keyboard.png" class="animate__animated animate__fadeInUp animate__delay-0.1s" alt="keyboard">
                <img src="./assets/img/banner/01-pen.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="pen">
                <img src="./assets/img/banner/01-table.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="table">
                <img src="./assets/img/banner/01-tea-cup.png" class="animate__animated animate__fadeInLeft animate__delay-0.1s" alt="tea-cup">
                <img src="./assets/img/banner/01-headphone.png" class="animate__animated animate__rollIn animate__delay-0.1" alt="headphone">
                <img src="./assets/img/banner/01-main-pic.png" class="animate__animated animate__fadeInUp animate__delay-0.1  d-block w-100" alt="main-pic">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>