<div id="checkbox_1" class="section-padding-140-0">
    <label class="toggle s-2x">
        <input class="toggle-checkbox" type="checkbox" name="sample_1">
        <span  class="switch"></span>
        <span  class="lever"></span>
    </label>
</div>

<div id="checkbox_2" class="section-padding-140-40">
    <label class="toggle" [attr.aria-checked]="sample_2">
        <input class="toggle-checkbox" type="checkbox"  [(ngModel)] ='sample_2'>
        <span  class="lever"></span>
    </label>
</div>
