$switch_checked: #0f0;
$switch_unchecked: #f00;
$switch_disabled: #474b47;

$sample_index_1: checkbox_1;

.section-padding-140-0 {
    padding-top: 140px;
    padding-bottom: 0;
    padding-left: 150px;
}

.section-padding-140-40 {
    padding-top: 140px;
    padding-bottom: 40px;
    padding-left: 150px;

}
////////////////////////////////////
////////////////////////////////////
##{$sample_index_1} .toggle {
    position: relative;
    width: 130px;
    height: 50px;
    cursor: pointer;
    margin: 20px 0;
    & .toggle-checkbox {
        opacity: 0;
        display: none;
    }
    & input.toggle-checkbox:checked ~ .switch:after {
        background: $switch_checked;
        box-shadow: 0 0 5px $switch_checked,
                    0 0 10px $switch_checked,
                    0 0 20px $switch_checked,
                    0 0 40px $switch_checked,
                    0 0 80px $switch_checked;
    }
    &  input.toggle-checkbox:checked ~ .switch:before {
        background: #101010;
        box-shadow: none;
    }
    & input.toggle-checkbox:checked ~ .lever {
    	left: 11%;
    }
}

##{$sample_index_1} .switch {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 40%;
    height: 38%;
    background: #101010;
    border-radius: 40px;
    box-shadow: 0 0 0 4px #101010;
    &::before
    {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        left: -20px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $switch_unchecked;
        transition: 0.5s;
        box-shadow: 0 0 5px $switch_unchecked,
                    0 0 10px $switch_unchecked,
                    0 0 20px $switch_unchecked,
                    0 0 40px $switch_unchecked,
                    0 0 80px $switch_unchecked;
    }
    &::after
    {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        right: -20px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #101010;
        box-shadow: none;
        transition: 0.5s;
    }
}

##{$sample_index_1}  .lever {
    position: absolute;
	top: 0;
	left: -3px;
	width: 40px;
	height: 20px;
	border-radius: 40px;
    //background: #333333;
    background: #808080;
    //box-shadow: inset 0 -20px 15px #292929, inset 0 20px 15px #292929;
    transition: 0.5s;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 16px;
        background: #252525;
        /*background: linear-gradient(0deg,#191919,#2f2f2f);*/
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        filter: blur(2px);
        box-shadow: inset -5px -5px 15px rgba(0,0,0,.3);
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 17px;
        height: 16px;
        background: #252525;
        /*background: linear-gradient(0deg,#191919,#2f2f2f);*/
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        filter: blur(2px);
        box-shadow: inset 5px -5px 15px rgba(0,0,0,.3);
    }
}

##{$sample_index_1} .toggle.s-2x {
    width: 240px;
    height: 80px;
    & .switch {
        width: 40%;
        height: 35%;
    }
    & .lever {
        width: 65px;
        height: 28px;
        &::before {
            width: 28px;
            height: 28px;
        }
        &::after {
            width: 28px;
            height: 28px;
        }
    }
    & input.toggle-checkbox:checked ~ .lever {
    	left: 14%;
    }
}

#{$sample_index_1} .toggle.s-4x {
    width: 240px;
    height: 80px;
    & .switch {
        width: 100%;
        height: 100%;
        &::after {
            right: -30px;
        }
        &::before {
            left: -30px;
        }
    }
    & .lever {
        width: 120px;
        height: 80px;
        &::before {
            width: 52px;
            height: 80px;
        }
        &::after {
            width: 52px;
            height: 80px;
        }
    }
    & input.toggle-checkbox:checked ~ .lever {
    	left: 50%;
    }
}


////////////////////////////////////////////////
///////////////////////////////////////////////
$sample_index_2: checkbox_2;
##{$sample_index_2} .toggle {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    outline: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-in-out;
    &[aria-checked='true'] {
        background: var(--off-color,#11c75d);
        box-shadow: 0 2px var(--highlight-scale,4px) -1px var(--on-color,#11c75d);
    }
    &[aria-checked='false'] {
        background: var(--off-color,#FF4651);
        box-shadow: 0 1px var(--highlight-scale,4px) -1px var(--off-color,#FF4651);
    }
    & input.toggle-checkbox:checked ~ .lever {
        background: var(--onHandle-color,#ffffff);
        animation:expand-right .5s linear forwards;
        transition: background  .5s ease-in;
    }
    & input.toggle-checkbox:checked {
        animation: expand-right .5s linear forwards;
        transition: background .5s ease-in;
    }
    & input.toggle-checkbox:not(:checked) ~ .lever {
        background: var(--onHandle-color,#ffffff);
        animation: expand-left 0.5s linear forwards;
        transition: background  .5s ease-in;
    }
}



##{$sample_index_2} .lever {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: var(--offHandle-color,#ffffff);
    border-radius: 21px;
    transition: background .5s ease-in;
}

@-webkit-keyframes expand-right
{
    0%
    {
        left:2px;
    }
    30%,50% 
    {
        left:2px;
        width:46px;
        
    }
    60%
    {
        left:34px;
        width:14px;
    }
    80%
    {
        left:24px;
        width:24px;   
    }
    90%
    {
        left:29px;
        width:19px;  
    }
    100%
    {
        left:27px;
        width:21px;
    }
}

@keyframes expand-right
{
    0%
    {
        left:2px;
    
    }
    30%,50%   
    {
        left:2px;
        width:46px;
        
    }
    
    60%
    {
        left:34px;
        width:14px;
    }
    80%
    {
        left:24px;
        width:24px;   
    }
    90%
    {
        left:29px;
        width:19px;  
    }
    100%
    {
        left:27px;
        width:21px;
    }
}

@-webkit-keyframes expand-left
{
    0%
    {
        left:27px;
    }
    30%,50%
    {
        left:2px;
        width:46px;
    }
    60%
    {
        right:34px;
        width:14px;
    }
    80%
    {
        right:24px;
        width:24px;   
    }
    90%
    {
        right:29px;
        width:19px;  
    }
    100%
    {
        left:2px;
        width:21px;
    }
}

@keyframes expand-left
{
    0%
    {
        left:27px;
    }
    30%,50%
    {
        left:2px;
        width:46px;
    }
    60%
    {
        right:34px;
        width:14px;
    }
    80%
    {
        right:24px;
        width:24px;   
    }
    90%
    {
        right:29px;
        width:19px;  
    }
    100%
    {
        left:2px;
        width:21px;
    }
}