<!--http://wpdemo.archiwp.com/onum/home-8/ -->
<div class="row">
  <div class="col-4">
    <div class="elementor-column-wrap elementor-element-populated" style="padding: 10px;">
      <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-3b700f0 elementor-widget elementor-widget-iservice_box2" data-id="3b700f0" data-element_type="widget" data-widget_type="iservice_box2.default">
            <div class="elementor-widget-container">
                <div class="service-box-2 elementor-animation-float">
                    <div class="content-box">
                        <h5 class="service-box-title">IT Staffing</h5>
                        <p>We help ambitious businesses like yours generate more profits by building awareness, driving web traffic.</p>
                    </div>
                    <a class="octf-btn octf-btn-secondary octf-btn-icon">
                        Read More 
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>