<!--https://landing.zytheme.com/ladidapp/landing-click.html-->
<header class="header header-light header-sticky">
  <nav class="navbar navbar-sticky navbar-expand-lg" id="jkcSoltionsHeader">
    <div class="container">
      <a class="logo navbar-brand" [routerLink]="['/', 'home']">
        <img class="logo logo-dark" src="https://jkcit-d317d.web.app/logo.png" alt="JKC Solutions Logo" width="44" height="44">
        <img class="logo logo-light" src="https://jkcit-d317d.web.app/logo.png" alt="JKC Solutions Logo" width="44" height="44">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/', 'home']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" data-scroll="scrollTo" routerLink="." fragment="services">Services</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" data-scroll="scrollTo" [routerLink]="['/','career']">Career</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" data-scroll="scrollTo" [routerLink]="['/','about-us']">About US</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" data-scroll="scrollTo" [routerLink]="['/','contact-us']">Contact US</a>
          </li>
        </ul>
        <div class="module-container">
          <div class="module module-cta" style="padding: 0 35px;">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>