<section id="contact-us" class="contact-our-area gray-bg section-padding-140-0" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title t_center">
                    <h2><strong>Contact US</strong></h2>
                    <p>Please feel free to contact us in case of any information you need from our side. We'll be happy to get you closer to your answers.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 display-none">
                <!-- Contact Form -->
                <div class="contact_from_area clearfix mb-100">
                    <div class="contact_form">
                        <form action="mail.php" method="post" id="main_contact_form">
                            <div class="contact_input_area">
                                <div id="success_fail_info"></div>
                                <div class="row">
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-30" name="name" id="name" placeholder="First Name" required="">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-30" name="name" id="name-2" placeholder="Last Name" required="">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control mb-30" name="email" id="email" placeholder="E-mail" required="">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-30" name="subject" id="subject" placeholder="Your Number">
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-text-area mb-30" id="message" cols="30" rows="6" placeholder="Your Message *" required="" spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn theme-btn-two">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="contact-bg-pattern mb-100">
                    <div class="contact-information">
                        <div class="contact-information">
                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="contact-info">
                                    <h5 class="mb-1">Our head office address</h5>
                                    <p class="mb-0">#827, Sanvi Residency, KPBH <br>Hyderabad, India&ZeroWidthSpace;.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center mt-50">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-info">
                                <h5 class="mb-1">Call Us On</h5>
                                <p class="mb-0">+91 8074804038, +1 6038929631</p>
                            </div>
                        </div>
                    </div>

                    <div class="contact-information">
                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center mt-50">
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-info">
                                <h5 class="mb-1">Email Us At</h5>
                                <p class="mb-0"><a href="mailto:jkcitsolutions@gmail.com" target="_top">jkcitsolutions@gmail.com</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>