<section class="service-wrapper section-padding-140" id="service">
    <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-9">
             <div class="section-heading text-center">
                 <h2><strong>Cloud Support-as-a-Service</strong></h2>
                 <p>Human-driven deployments (semi-automated) & Event-driven deployments (fully-automated) are provided by us.</p>
             </div>
         </div>
     </div>
     <br>
       <div class="row">
          <div class="col-md-4 col-lg-5">
             <div class="service-content-1 main-title-wrapper">
                <h4 class="sitemain-subtitle">Cloud <span>Solutions</span>  </h4>
                <div class="sub-title-wrapper">
                   <h4 class="site-subtitle2">We Provide The</h4>
                </div>
                <h5 class="service-title">Our core features</h5>
                <p class="service-dec">WeBoxApps dedicated Cloud Support team develops a close working relationship with organizations to achieve insight about their cloud environment and technical concerns to deliver right assistance..</p>
             </div>
          </div>
          <div class="service-block-content col-md-8 col-lg-7">
             <div class="row">
                <div class="service-block1 col-sm-6">
                   <div class="service-0 service-content">
                      <div class="service-icon">
                         <span>
                            <i fill="currentColor" style="display: inline-block;">
                               <svg fill="currentColor" height="24" width="24" viewBox="0 0 1792 1792" style="display: inline-block; vertical-align: middle;">
                                  <path d="M640 384h512v-128h-512v128zM288 384v1280h-64q-92 0-158-66t-66-158v-832q0-92 66-158t158-66h64zM1408 384v1280h-1024v-1280h128v-160q0-40 28-68t68-28h576q40 0 68 28t28 68v160h128zM1792 608v832q0 92-66 158t-158 66h-64v-1280h64q92 0 158 66t66 158z"></path>
                               </svg>
                            </i>
                         </span>
                      </div>
                      <div class="service-content-dec">
                         <h5 class="service-title">Cloud Environment Managed Services</h5>
                         <p class="service-dec-content">Our Cloud offerings are associated with scalability and reactivity that ensure reduced TCO (Total Cost of Ownership) and optimum ROI (Return on Investment)..</p>
                      </div>
                   </div>
                   <div class="service-1 service-content">
                      <div class="service-icon">
                         <span>
                            <i fill="currentColor" style="display: inline-block;">
                               <svg fill="currentColor" height="24" width="24" viewBox="0 0 2048 1792" style="display: inline-block; vertical-align: middle;">
                                  <path d="M2048 384h-128v1024h128v384h-384v-128h-1280v128h-384v-384h128v-1024h-128v-384h384v128h1280v-128h384v384zM1792 128v128h128v-128h-128zM128 128v128h128v-128h-128zM256 1664v-128h-128v128h128zM1664 1536v-128h128v-1024h-128v-128h-1280v128h-128v1024h128v128h1280zM1920 1664v-128h-128v128h128zM1280 640h384v768h-896v-256h-384v-768h896v256zM512 1024h640v-512h-640v512zM1536 1280v-512h-256v384h-384v128h640z"></path>
                               </svg>
                            </i>
                         </span>
                      </div>
                      <div class="service-content-dec">
                         <h5 class="service-title">Network & Security Management</h5>
                         <p class="service-dec-content">We offer a wide range of Cloud Hosting Services across all cloud infrastructures such as Private, Public, and Hybrid..</p>
                      </div>
                   </div>
                </div>
                <div class="service-block2 col-sm-6">
                   <div class="service-0 service-content">
                      <div class="service-icon">
                         <span>
                            <i fill="currentColor" style="display: inline-block;">
                               <svg fill="currentColor" height="24" width="24" viewBox="0 0 2048 1792" style="display: inline-block; vertical-align: middle;">
                                  <path d="M2048 1536v128h-2048v-1536h128v1408h1920zM1664 512l256 896h-1664v-576l448-576 576 576z"></path>
                               </svg>
                            </i>
                         </span>
                      </div>
                      <div class="service-content-dec">
                         <h5 class="service-title">Cloud Consulting Services</h5>
                         <p class="service-dec-content">We offer a full range of packaged cloud services that support organizations of all sizes to cut down traditional infrastructure costs, mitigate software installation activities and reap maximum time to focus on core business..</p>
                      </div>
                   </div>
                   <div class="service-1 service-content">
                      <div class="service-icon">
                         <span>
                            <i fill="currentColor" style="display: inline-block;">
                               <svg fill="currentColor" height="24" width="24" viewBox="0 0 1664 1792" style="display: inline-block; vertical-align: middle;">
                                  <path d="M458 883q-74-162-74-371h-256v96q0 78 94.5 162t235.5 113zM1536 608v-96h-256q0 209-74 371 141-29 235.5-113t94.5-162zM1664 480v128q0 71-41.5 143t-112 130-173 97.5-215.5 44.5q-42 54-95 95-38 34-52.5 72.5t-14.5 89.5q0 54 30.5 91t97.5 37q75 0 133.5 45.5t58.5 114.5v64q0 14-9 23t-23 9h-832q-14 0-23-9t-9-23v-64q0-69 58.5-114.5t133.5-45.5q67 0 97.5-37t30.5-91q0-51-14.5-89.5t-52.5-72.5q-53-41-95-95-113-5-215.5-44.5t-173-97.5-112-130-41.5-143v-128q0-40 28-68t68-28h288v-96q0-66 47-113t113-47h576q66 0 113 47t47 113v96h288q40 0 68 28t28 68z"></path>
                               </svg>
                            </i>
                         </span>
                      </div>
                      <div class="service-content-dec">
                         <h5 class="service-title">Great experience</h5>
                         <p class="service-dec-content">24/7 Operation Service Management with IaaS, PaaS, and SaaS component On-demand Management.</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
