<section class="about-us-wrap section-padding" id="about">
    <div class="about-element">
       <img src="../../../assets/images/bigring.png" alt="" class="shape ae1">
       <img src="../../../assets/images/gring.png" alt="" class="shape ae2">
       <img src="../../../assets/images/fangle.png" alt="" class="shape ae3">
       <img src="../../../assets/images/psq.png" alt="" class="shape ae4">
    </div>
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-12">
             <div class="section-title">
                <span>Who We Are</span>
                <h1>Know More About <br>JKC Solutions</h1>
                <p>JKC Solutions is an agile company with focus on managed services, Cloud and AI solutions. JKC Solutions introduces a new paradigm of IT services.</p>
             </div>
             <div class="features-list color">
                <ul>
                   <li data-aos="fade-up" data-aos-duration="600" class="aos-init"><strong>Integrity:</strong> Never mislead a customer, never underestimate the customer, and never misuse an opportunity.</li>
                   <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" class="aos-init"><strong>Competence:</strong> Articulate your skills, expand your core capabilities and outdo customer expectations.</li>
                   <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" class="aos-init"><strong>Efficiency:</strong> Place a premium on customer's time, money and resources.</li>
                </ul>
             </div>
          </div>
          <div class="col-xl-6 col-12">
             <div class="about-page-img">
                <div class="shape-element">
                   <img src="../../../assets/images/bigDot.png" alt="" class="ai1">
                   <img src="../../../assets/images/mDot.png" alt="" class="ai2">
                   <img src="../../../assets/images/line.png" alt="" class="ai3">
                   <img src="../../../assets/images/dots.png" alt="" class="ai4">
                </div>
                <img src="../../../assets/images/about_img.png" alt="">
             </div>
          </div>
       </div>
    </div>
 </section>

 <script>
    AOS.init();
  </script>

