<section class="about-us-wrap section-padding" id="about">
    <div class="about-element">
       <img src="../../../assets/images/bigring.png" alt="" class="shape ae1">
       <img src="../../../assets/images/gring.png" alt="" class="shape ae2">
       <img src="../../../assets/images/fangle.png" alt="" class="shape ae3">
       <img src="../../../assets/images/psq.png" alt="" class="shape ae4">
    </div>
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-12">
             <div class="section-title">
                <span>Who We Are</span>
                <h1>Know More About <br>JKC Solutions</h1>
                <p>Analytics is thinking, thinking requires information and this information leads to success with JKC IT Solutions. Come be a part of JKC IT Solutions.</p>
             </div>
             <div class="features-list color">
                <ul>
                   <li data-aos="fade-up" data-aos-duration="600" class="aos-init"><strong>Integrity:</strong> JKC IT Solutions, Inc. is one of the fastest growing IT Consulting and Services company to provide key Information Technology solutions to our diverse clients. We empower our customer businesses to remain competitive, achieve operational efficiency in a cost-effective manner.</li>
                   <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" class="aos-init"><strong>Competence:</strong> We combine our expertise and processes to provide you innovative IT services to develop custom solutions and operational efficiency by understanding the client’s business needs.</li>
                   <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" class="aos-init"><strong>Efficiency:</strong> Our experienced resources always focus on the right technology which enable us to reduce costs, improve quality and provide better service to the business owners in terms of responsiveness, performance, and reliability.</li>
                </ul>
             </div>
          </div>
          <div class="col-xl-6 col-12">
             <div class="about-page-img">
                <div class="shape-element">
                   <img src="../../../assets/images/bigDot.png" alt="" class="ai1">
                   <img src="../../../assets/images/mDot.png" alt="" class="ai2">
                   <img src="../../../assets/images/line.png" alt="" class="ai3">
                   <img src="../../../assets/images/dots.png" alt="" class="ai4">
                </div>
                <img src="../../../assets/images/about_img.png" alt="">
             </div>
          </div>
       </div>
    </div>
 </section>

 <script>
    AOS.init();
  </script>

