<div class="container-fluid section-padding-140">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="section-heading text-center">
                <h2><strong>Continuous Delivery-as-a-Service</strong></h2>
                <p>Human-driven deployments (semi-automated) & Event-driven deployments (fully-automated) are provided by us.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="service-img-wrapper col-lg-6 col-md-12 col-sm-12">
            <div class="service-content-1 main-title-wrapper">
                <h4 class="sitemain-subtitle"> What Are Your Continuous Delivery Goals?</h4>
            </div>
            <div class="image-box">
                <img src="../../../assets/images/about.png" class="center-block img-responsive phone-img" alt="">
            </div>
        </div>
        <div class="services-column col-lg-5 offset-lg-0 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
            <!--Services Block Four-->
            <div class="services-block-four how">
                <div class="inner-box">
                    <span class="blue"></span>
                    <div class="step">1</div>
                    <h3><a href="#">Automate the promotion of code.</a></h3>
                    <div class="text">Automate the promotion of code across development, QA, staging, and production environments. Migrate from blue/green deployments to canary deployments</div>
                </div>
            </div>

            <!--Services Block Four-->
            <div class="services-block-four how">
                <div class="inner-box">
                    <span class="red"></span>
                    <div class="step">2</div>
                    <h3><a href="#">Increase deployment velocity.</a></h3>
                    <div class="text">Increase deployment velocity from monthly to bi-weekly cycles. Reduce rollback time from 30 minutes to 5 minutes</div>
                </div>
            </div>
            
            <!--Services Block Four-->
            <div class="services-block-four how" style="margin-bottom:0">
                <div class="inner-box">
                    <span class="orange"></span>
                    <div class="step">3</div>
                    <h3><a href="#">Reduce deployment effort.</a></h3>
                    <div class="text">Reduce deployment effort from several engineers to a single engineer. Templatize deployment pipelines so all teams have consistent deployment pipelines</div>
                </div>
            </div>
            
        </div>
    </div>
</div>