<div class="container" >
    <div class="row align-items-center mt-5 h-100 justify-content-center">
      <div class="col-md-9 col-xxl-5 text-center py-6 pt-8">
        <h1 class="fs-4 fs-md-5 fs-xxl-4"  style="transform: translate(0px, 0px); opacity: 1;">Balance agility with Software Testing</h1>
        <p class="fs-1" style="transform: translate(0px, 0px); opacity: 1;">Software testing is a way to assess the quality of software and to reduce the risk of software failure in operation.</p>
      </div>
    </div>
  </div>
  <section id="product">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-6 h-100 text-center text-md-start p-0 p-md-5 pb-3">
          <h2 class="mt-3">Improve the stability of your application</h2>
          <p class="mb-0">Testing helps in finding the defects in the Software before end-users uses the application/product. Testing ensures that the system meets the end-user requirements. Testing helps to minimize the risks.</p>
        </div>
        <div class="col-md-6">
          <div class="w-100 h-100 p-5 services-card-shadow rounded-4"><img :src="{{ getHref() + '../assets/img/1.png'}}" alt="Dashboard" style="width:95px;">
            <h3 class="mt-3 lh-base">Static Testing</h3>
            <p class="mb-0">Static Testing is done without the execution of the code of a system being tested!</p>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <div class="w-100 h-100 p-5 services-card-shadow rounded-4"><img :src="{{ getHref() + '../assets/img/2.png'}}" alt="Comment" style="width:95px;">
            <h3 class="mt-3 lh-base">Dynamic Testing</h3>
            <p class="mb-0">Dynamic Testing is done after the execution of the code of a system being tested.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="w-100 h-100 p-5 services-card-shadow rounded-4"><img :src="{{ getHref() + '../assets/img/3.png'}}" alt="Tailored" style="width:95px;">
            <h3 class="mt-3 lh-base">Automation Testing</h3>
            <p class="mb-0">Increase in revenur by implementation of automation testing to Continous Integration and Continous Deployment (i.e. CICD). It helps to speed up the development and reduction of the risk.</p>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>
        <div class="container">
            <h1 class="text-center display-5 fw-semi-bold fs-4 fs-md-5">How Testing Process Work ?</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline5">
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">1</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Project Scope</h3>
                                <p class="description">
                                    Understand the business requirement and discuss with the business analysts and evaluates the scope of the testing, effort estimate and defines the benefits to be gained from the development at high level. 
                                </p>
                            </div>
                        </div>
                        <div class="timeline" style="margin-top: -104px">
                            <div class="timeline-icon"><span class="year">2</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Test Planning</h3>
                                <p class="description">
                                    Assess the scope of work in detail and comes up with a transition roadmap and a testing strategy in this phase. 
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">3</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Test Analysis and Specification</h3>
                                <p class="description">
                                    - Test data requirements and approach for creating the Test data and create Test case design documents.
                                </p>
                            </div>
                        </div>
                        <div class="timeline" style="margin-top: -80px">
                            <div class="timeline-icon"><span class="year">4</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Test Execution</h3>
                                <p class="description">
                                    Test cases are executed in defined cycles and will follow the execution
sequence to ensure that business functionality is tested.
                                </p>
                            </div>
                        </div>
                        <div class="timeline" style="margin-top: -92px;">
                            <div class="timeline-icon"><span class="year">5</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Test Reporting</h3>
                                <p class="description">
                                    Traceability Analysis report maintains a test traceability matrix to ensure test
coverage, which will determine the extent to which each functionality has been tested.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>