<section class="welcome-section">
    <div class="auto-container">
        <div class="sec-title centred">
            <span class="top-title">Welcome to JKC Staffing Solutions</span>
            <h2>Staffing Solutions</h2>
            <p>JKC IT Solutions offers the best-in-industry staffing solutions that match your project, budget, required skills, and business challenges. Our experienced IT professionals’ suits to fit your culture and business needs.</p>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <figure class="image-box js-tilt" style="will-change: transform; transform: perspective(700px) rotateX(0deg) rotateY(0deg);">
                    <img :src="{{ getHref() + '../assets/img/welcome-1.png'}}" alt="">
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1140px; height: 1140px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_1">
                    <div class="content-box">
                        <div class="tabs-box">
                            <div class="tabs-content">
                                <div class="tab active-tab" id="tab-1">
                                    <div class="inner-box">
                                        <h5>Find the Employees</h5>
                                        <h2>Hire Your Next Candidate On JKC IT Solutions, Inc.</h2>
                                        <p>We empower our customer businesses to remain competitive, achieve operational efficiency in a cost-effective manner.</p>
                                        <ul class="list clearfix">
                                            <li>
                                                <figure class="icon-box"><img :src="{{ getHref() + '../assets/img/st-icon-1.png'}}" alt=""></figure>
                                                <h4>Understand Your Needs</h4>
                                            </li>
                                            <li>
                                                <figure class="icon-box"><img :src="{{ getHref() + '../assets/img/st-icon-2.png'}}" alt=""></figure>
                                                <h4>Find the Perfect Candidate</h4>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="recruitment-technology" style="padding: 0">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_4">
                    <div class="content-box">
                        <div class="sec-title">
                            <span class="top-title">Recruitment technologies</span>
                            <h2>Solving Recruitment Using Technology</h2>
                            <p>We combine our expertise and processes to provide you innovative IT services to develop custom solutions and operational efficiency by understanding the client’s business needs.</p>
                        </div>
                        <div class="inner-box">
                            <div class="single-item wow fadeInRight animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                                <div class="inner">
                                    <figure class="icon-box"><img :src="{{ getHref() + '../assets/img/st-icon-7.png'}}" alt=""></figure>
                                    <h3><span>01</span><a [routerLink]="['/', 'staffing-consulting']">Sourcing the Best<i class="flaticon-right-arrow"></i></a></h3>
                                    <p>We find the right talent for the projects who have experience in the live projects.</p>
                                </div>
                            </div>
                            <div class="single-item wow fadeInRight animated animated animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInRight;">
                                <div class="inner">
                                    <figure class="icon-box"><img :src="{{ getHref() + '../assets/img/icon-8.png'}}" alt=""></figure>
                                    <h3><span>02</span><a [routerLink]="['/', 'staffing-consulting']">Skilled Talent<i class="flaticon-right-arrow"></i></a></h3>
                                    <p>We provide training to the employee to have hand-on experience, before providing the staffing for the client projects.</p>
                                </div>
                            </div>
                            <div class="single-item wow fadeInRight animated animated animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInRight;">
                                <div class="inner">
                                    <figure class="icon-box"><img :src="{{ getHref() + '../assets/img/icon-9.png'}}" alt=""></figure>
                                    <h3><span>03</span><a [routerLink]="['/', 'staffing-consulting']">Partners in Team Building<i class="flaticon-right-arrow"></i></a></h3>
                                    <p>Our experienced IT professionals’ suits to fit your culture and business needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>