<div id="digitalMarketing" class="feature-area section-padding-140">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="section-heading text-center">
                    <h2><strong>DIGITAL MARKETING (LEAD GENERATION)</strong></h2>
                    <p>Go Live, Go Digital</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="row masonry-layout filters-content normal-col-gap" >
              <div class="col-md-6 col-lg-4 masonry-item all category-analysis" >
                <div class="card case-item">
                  <div class="card-mg-top case-thumb">
                    <img src="../../../assets/images/case-item-01.jpg" alt="">
                  </div>
                  <div class="card-body down-content">
                    <h4><strong>SEO</strong></h4>
                    <span>Search Engine Optimization is the key factor of digital world. We help you rank your website on SERPs organically!</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 masonry-item all category-seo" >
                <div class="case-item">
                  <div class="case-thumb">
                    <img src="../../../assets/images/case-item-02.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h4><strong>SMO</strong></h4>
                    <span>Everyone is on social media, that’s a great news! We make your business go interactive on social media platforms.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 masonry-item all category-digital" >
                <div class="case-item">
                  <div class="case-thumb">
                    <img src="../../../assets/images/case-item-03.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h4><strong>SEM</strong></h4>
                    <span>Want to rank business up? We promote websites by bringing it to top of SERPs through paid advertising strategy.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 masonry-item all category-digital" >
                <div class="case-item">
                  <div class="case-thumb">
                    <img src="../../../assets/images/case-item-04.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h4><strong>Content Marketing</strong></h4>
                    <span>Level up your marketing game with supreme content that triggers business growth instantly. We exclusively design creative content plans.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 masonry-item all category-analysis" >
                <div class="case-item">
                  <div class="case-thumb">
                    <img src="../../../assets/images/case-item-05.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h4><strong>Email Marketing</strong></h4>
                    <span>Emails are ever-green. We help to turn your prospects, one-time buyers into loyal, raving fans with effective marketing emails.</span>
                  </div>
                  <br>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 masonry-item all category-seo">
                <div class="case-item">
                  <div class="case-thumb">
                    <img src="../../../assets/images/case-item-06.jpg" alt="">
                  </div>
                  <div class="down-content">
                    <h4><strong>Branding</strong></h4>
                    <span>Easily expand your business with a smart digital marketing. Our experts are just perfect for crafting smart digital strategies.</span>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>