<div id="services" class="feature-area section-padding-100-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h2><strong>Website Design and Development</strong></h2>
                    <p>Revolutionize Your Online Business Today!</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Feature area -->
            <div class="col-md-6 col-lg-4">
                <div class="single-feature-area text-center">
                    <!-- Feature Icon -->
                    <div class="feature-icon">
                        <i class="fa fa-code fa-3x"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="feature-content-text">
                        <h4>Clean & Modern Design</h4>
                      <!--<p class="mb-0">Around on the front end of your website. No coding and no confusing back end options.</p>-->
                    </div>
                </div>
            </div>

            <!-- Single Feature area -->
            <div class="col-md-6 col-lg-4">
                <div class="single-feature-area text-center">
                    <!-- Feature Icon -->
                    <div class="feature-icon">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="feature-content-text">
                        <h4>Great User Experience</h4>
                        <!--<p class="mb-0">Around on the front end of your website. No coding and no confusing back end options.</p>-->
                    </div>
                </div>
            </div>

            <!-- Single Feature area -->
            <div class="col-md-6 col-lg-4">
                <div class="single-feature-area text-center">
                    <!-- Feature Icon -->
                    <div class="feature-icon">
                        <i class="fas fa-laptop-code fa-3x"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="feature-content-text">
                        <h4>100% Fully Responsive</h4>
                        <!--<p class="mb-0">Around on the front end of your website. No coding and no confusing back end options.</p>-->
                    </div>
                </div>
            </div>

            <!-- Single Feature area -->
            <div class="col-md-6 col-lg-4">
                <div class="single-feature-area text-center">
                    <!-- Feature Icon -->
                    <div class="feature-icon">
                        <i class="fas fa-users-cog fa-3x"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="feature-content-text">
                        <h4>Quick support</h4>
                        <!--<p class="mb-0">Around on the front end of your website. No coding and no confusing back end options.</p> -->
                    </div>
                </div>
            </div>

            <!-- Single Feature area -->
            <div class="col-md-6 col-lg-4">
                <div class="single-feature-area text-center">
                    <!-- Feature Icon -->
                    <div class="feature-icon">
                         <i class="fas fa-lightbulb fa-3x"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="feature-content-text">
                        <h4>Creativet Layout</h4>
                        <!--<p class="mb-0">Around on the front end of your website. No coding and no confusing back end options.</p>-->
                    </div>
                </div>
            </div>

            <!-- Single Feature area -->
            <div class="col-md-6 col-lg-4">
                <div class="single-feature-area text-center">
                    <!-- Feature Icon -->
                    <div class="feature-icon">
                        <i class="fas fa-dharmachakra fa-3x"></i>
                    </div>
                    <!-- Single Feature Text -->
                    <div class="feature-content-text">
                        <h4>Multi-Device Testing</h4>
                        <!--<p class="mb-0">Around on the front end of your website. No coding and no confusing back end options.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>