<div id="services" class="feature-area section-padding-100-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h2><strong>Our Services</strong></h2>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
        <div id="sdo" class="col-lg-4 col-md-6" data-aos="fade-left">
            <div class="elementor-column-wrap elementor-element-populated" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-3b700f0 elementor-widget elementor-widget-iservice_box2" data-id="3b700f0" data-element_type="widget" data-widget_type="iservice_box2.default">
                      <div class="elementor-widget-container">
                          <div class="service-box-2 elementor-animation-float">
                              <div class="content-box">
                                  <h5 class="service-box-title">IT Consulting</h5>
                                  <p>We don’t just find you great talent. We find you the right talent. Experience professional are the SOLVER to your problems</p>
                              </div>
                              <a class="octf-btn octf-btn-secondary octf-btn-icon"  [routerLink]="['/', 'staffing-consulting']">
                                  Read More 
                                  <i class="fas fa-arrow-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div id="cdaas" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-right" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-0485bf5 elementor-widget elementor-widget-iservice_box2" data-id="0485bf5" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Staffing Solutions</h5>
                                    <p>We help in building products on on-primise, hybrid or public clouds. Also help in migrating the on-primise application to public cloud.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'cloud-supports-as-a-services']">
                                    Read More 
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wdwd" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-up" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-de93280 elementor-widget elementor-widget-iservice_box2" data-id="de93280" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Software Development</h5>
                                    <p>We provide CRM and ERP solutions to the logistics, supply chain, inventory management, payroll, Sales & Purchase.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'crm-erp']">
                                    Read More
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wdwd" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-up" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-de93280 elementor-widget elementor-widget-iservice_box2" data-id="de93280" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Software Testing</h5>
                                    <p>We provide CRM and ERP solutions to the logistics, supply chain, inventory management, payroll, Sales & Purchase.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'crm-erp']">
                                    Read More
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wdwd" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-up" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-de93280 elementor-widget elementor-widget-iservice_box2" data-id="de93280" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Training</h5>
                                    <p>We provide CRM and ERP solutions to the logistics, supply chain, inventory management, payroll, Sales & Purchase.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'crm-erp']">
                                    Read More
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    </div>
    </div>