<div id="services" class="feature-area section-padding-100-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading text-center">
                    <h2><strong>Our Services</strong></h2>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
        <div id="sdo" class="col-lg-4 col-md-6" data-aos="fade-left">
            <div class="elementor-column-wrap elementor-element-populated" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-3b700f0 elementor-widget elementor-widget-iservice_box2" data-id="3b700f0" data-element_type="widget" data-widget_type="iservice_box2.default">
                      <div class="elementor-widget-container">
                          <div class="service-box-2 elementor-animation-float">
                              <div class="content-box">
                                  <h5 class="service-box-title">IT Consulting</h5>
                                  <p>Our dedicated team of resources constantly work on updating cutting-edge technologies, to accelerate your Software enhancements and continuous solution improvements.</p>
                              </div>
                              <a class="octf-btn octf-btn-secondary octf-btn-icon"  [routerLink]="['/', 'it-consulting']">
                                  Read More 
                                  <i class="fas fa-arrow-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div id="cdaas" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-right" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-0485bf5 elementor-widget elementor-widget-iservice_box2" data-id="0485bf5" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Staffing Solutions</h5>
                                    <p>JKC IT Solutions offers the best-in-industry staffing solutions that match your project, budget, required skills, and business challenges.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'staffing-consulting']">
                                    Read More 
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wdwd" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-up" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-de93280 elementor-widget elementor-widget-iservice_box2" data-id="de93280" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Software Development</h5>
                                    <p>We practice continuous improvement to determine the root cause of the problem and identify the shortcomings of the project.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'software-development']">
                                    Read More
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wdwd" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-up" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-de93280 elementor-widget elementor-widget-iservice_box2" data-id="de93280" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Software Testing</h5>
                                    <p>Software testing is a way to assess the quality of software and to reduce the risk of software failure in operation.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'software-testing']">
                                    Read More
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wdwd" class="col-lg-4 col-md-6">
            <div class="elementor-column-wrap elementor-element-populated"  data-aos="fade-up" style="padding: 10px;">
                <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-de93280 elementor-widget elementor-widget-iservice_box2" data-id="de93280" data-element_type="widget" data-widget_type="iservice_box2.default">
                        <div class="elementor-widget-container">
                            <div class="service-box-2 elementor-animation-float">
                                <div class="content-box">
                                    <h5 class="service-box-title">Training</h5>
                                    <p>JKC IT Solutions constantly update on the industry requirement on latest technology training with our thought process which enables accelerated learning for the participant.</p>
                                </div>
                                <a class="octf-btn octf-btn-secondary octf-btn-icon" [routerLink]="['/', 'software-training']">
                                    Read More
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    </div>
    </div>