<section class="app-features-wrap section-padding" id="odoo-feature">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-lg-8 col-md-8 offset-md-2 p-md-0 offset-xl-3 col-12">
             <div class="section-title text-center">
                <h1>Odoo ERP and CRM</h1>
                <p>Odoo is business management software including CRM, e-commerce, billing, accounting, manufacturing, warehouse, project management, and inventory management.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xl-3 col-md-6 col-12">
             <div class="single-feature-box text-center">
                <div class="feature-icon">
                   <i class="fas fa-swatchbook"></i>
                   <img src="../../../assets/images/odoo1.png" alt="">
                </div>
                <h4>ERP</h4>
                <p>Our customization and integration of Management Business Software ensures that you have greater visibility in all of your business departments.</p>
             </div>
          </div>
          <div class="col-xl-3 col-md-6 col-12">
             <div class="single-feature-box text-center">
                <div class="feature-icon">
                   <i class="fas fa-bezier-curve"></i>
                   <img src="../../../assets/images/odoo2.png" alt="">
                </div>
                <h4>CRM</h4>
                <p>CRM offered by JKC Solutions is specially customized to meet every individual’s business needs and help their companies excel.</p>
             </div>
          </div>
          <div class="col-xl-3 col-md-6 col-12">
             <div class="single-feature-box text-center">
                <div class="feature-icon">
                   <i class="fas fa-braille"></i>
                   <img src="../../../assets/images/odoo3.png" alt="">
                </div>
                <h4>BPM</h4>
                <p>Our expertise enables you to readily access the powerful features which make Process Maker Workflow Software easy to use, flexible, modular, robust, and totally secure.</p>
             </div>
          </div>
          <div class="col-xl-3 col-md-6 col-12">
             <div class="single-feature-box text-center">
                <div class="feature-icon">
                   <i class="fas fa-shapes"></i>
                   <img src="../../../assets/images/odoo4.png" alt="">
                </div>
                <h4>Modular & Agile Approach</h4>
                <p>Our customization is modular structure with Agile way of delivery, makes benifits the customer business.</p>
             </div>
          </div>
       </div>
    </div>
 </section>